
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr; 
  grid-template-rows: auto;
  grid-template-areas: 

  "header      header         header       header "
  "sidebar_1   main_section   main_section sidebar_2"
  "sidebar_1   main_section   main_section sidebar_2"
  "sidebar_1   section_2      section_2    sidebar_2"
  "sidebar_1   footer        footer      footer ";

  
  gap: 0.5rem;
  margin:0;
  height: 150vh;
  width: 100%;
  
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 2rem;
}

.item_1{
  background-color: hsl(0, 71%, 49%);
  color: white;
  grid-area: header;
}

.item_2{
  background-color: hsl(241, 81%, 53%);
  color: white;
  grid-area: main_section;
}
.item_3{
  background-color: hsl(59, 88%, 51%);
  grid-area: sidebar_1;
}
.item_4{
  background-color: hsl(221, 10%, 90%);
  grid-area: sidebar_2;
}
.item_5{
  background-color: hsl(0, 0%, 6%);
  grid-area: footer;
}

.item_6{
  background-color: hsl(0, 0%,100%);
  grid-area: section_2;
}

@media(max-width:650px){
  .container{
    display: flex;
    flex-direction: column;
  }

  .item{
    height: auto;
    padding: 2rem;
  }
}